.center {
    text-align:center;
}

textarea {
    width: 45%;
    height: 380px;
}

input {
    width: 45%;
    height: 40px;
}

.center select {
    width: 38%;
    height: 40px;
}

.center button {
    width: 13.7%;
    height: 40px;
}

tr,th,td{
    border: 1px solid black;
    text-align:center;
}